<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <title> Mercado Liebre Argentina</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Bootstrap Grid Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <%- include('partials/header') %>
        <!-- product detail -->
        <main>
            <h1><%= producto.nombre %></h1>
            <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" width="300">
            <p><strong>Descripción:</strong> <%= producto.descripcion %></p>
        
            <h2>Comentarios</h2>
            <ul>
                <% for (let i = 0; i < producto.comentarios.length; i++) { %>
                    <div class="comments">
                      <img src="<%= producto.comentarios[i].fotoPerfil %>" alt="" class="comentario-img">
                      <h5><%= producto.comentarios[i].usuario %></h5>
                      <p><%= producto.comentarios[i].comentario %></p>
                    </div>
                  <% } %>
            </ul>
        </main>
        
        <!-- /product detail -->

        <%- include('partials/footer') %>
</body>

</html>