<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <title> Mercado Liebre Argentina</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Bootstrap Grid Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <%- include('partials/header') %>
        <!-- product detail -->
        <div class="container products-wrapper">
            <div class="d-flex align-items-center">
                <h2 class="products-title"><%= producto.nombre %></h2> 
            </div>
            <div class="product-detail">
                <div class="row">
                    <article class="col-12 col-lg-8 product-detail-info">
                        <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-detail-img">
                        <p class="product-detail-description"><%= producto.descripcion %></p>
                    </article>
                    <div class="col-12 col-lg-4">
                        <% for (let i = 0; i < producto.comentarios.length; i++) { %>
                            <div class="comentario">
                              <img src="<%= producto.comentarios[i].fotoPerfil %>" alt="" class="comentario-img">
                              <strong><%= producto.comentarios[i].usuario %></strong>
                              <p><%= producto.comentarios[i].comentario %></p>
                            </div>
                          <% } %>
                    </div>
        
        <!-- /product detail -->

        <%- include('partials/footer') %>
</body>

</html>